
@{
    ViewData["Title"] = "StudentForm";
}

<h1>StudentForm</h1>

<form action="/home/StudentDetatils">
    <div class="row">
        <div class="Col-sm-4">
            Name <input type="text" name="name" />
        </div>
        <div class="Col-sm-4">
            Email <input type="text" name="email" />
        </div>
        <div class="Col-sm-4">
            RollNo <input type="text" name="RollNo" />
        </div>
        <div class="Col-sm-4">
            Coures <input type="text" name="subject" />
        </div>
        <div class="Col-sm-4">
            Coures <input type="text" name="batch" />
        </div>
        <div class="Col-sm-4">
<button>Click me</button>
        </div>
    </div>

</form>